export(describe.factor.bayes)
export(describe.logit.bayes)
export(describe.mlogit.bayes)
export(describe.normal.bayes)
export(describe.oprobit.bayes)
export(describe.poisson.bayes)
export(describe.probit.bayes)
export(MCMChook)
export(param.factor.bayes)
S3method(param, logit.bayes)
export(param.logit.bayes)
export(param.mlogit.bayes)
export(param.normal.bayes)
S3method(param, oprobit.bayes)
export(param.oprobit.bayes)
export(param.poisson.bayes)
export(param.probit.bayes)
S3method(print, summary.MCMCZelig)
export(qi.factor.bayes)
S3method(qi, logit.bayes)
export(qi.mlogit.bayes)
S3method(qi, normal.bayes)
export(qi.oprobit.bayes)
export(qi.probit.bayes)
export(zelig2factor.bayes)
export(zelig2logit.bayes)
export(zelig2mlogit.bayes)
export(zelig2normal.bayes)
export(zelig2oprobit.bayes)
export(zelig2poisson.bayes)
export(zelig2probit.bayes)
importFrom(Zelig, describe, param, qi)
